<h1><%= "#{@post.user.name}のページです" %></h1>



<p><%= @post.user.email%></p>


<p>
タイトル
<%= @post.title %>
</p>
<p>
内容
<%= @post.content %>
</p>
<p>
URL
<%= @post.url %>
</p>
<p>
言語
<%= @post.language %>
</p>

<div class="item">
    <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @post.user.id), method: :post %>
</div>

